USE [master]
GO
/****** Objeto: Database [dawRefugio] Fecha de script: 11/07/2026 4:58:46 ******/
CREATE DATABASE [dawRefugio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dawRefugio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\dawRefugio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dawRefugio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\dawRefugio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dawRefugio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dawRefugio]
GO
/****** Objeto: Table [dbo].[Animal] Fecha de script: 11/07/2026 4:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animal](
	[codigoAnimal] [int] NOT NULL,
	[especie] [nvarchar](50) NOT NULL,
	[raza] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[tamaño] [nvarchar](50) NOT NULL,
	[sexo] [nvarchar](50) NOT NULL,
	[estadoAdopcion] [nvarchar](50) NOT NULL,
	[vivo] [bit] NOT NULL,
 CONSTRAINT [PK_Animal] PRIMARY KEY CLUSTERED 
(
	[codigoAnimal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[AuditoriaTablas] Fecha de script: 11/07/2026 4:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaTablas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreTabla] [nvarchar](50) NULL,
	[operacion] [nvarchar](10) NULL,
	[registroId] [nvarchar](50) NULL,
	[fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[BitacoraEventos] Fecha de script: 11/07/2026 4:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraEventos](
	[codigo] [nvarchar](50) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[modulo] [nvarchar](50) NOT NULL,
	[evento] [nvarchar](50) NOT NULL,
	[criticidad] [int] NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CertificadoAdopcion] Fecha de script: 11/07/2026 4:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertificadoAdopcion](
	[codigo] [nvarchar](50) NOT NULL,
	[dni] [nvarchar](50) NOT NULL,
	[codigoAnimal] [int] NOT NULL,
	[especie] [nvarchar](50) NOT NULL,
	[raza] [nvarchar](50) NOT NULL,
	[nombreAnimal] [nvarchar](50) NOT NULL,
	[nombreAdoptante] [nvarchar](50) NOT NULL,
	[apellidoAdoptante] [nvarchar](50) NOT NULL,
	[fecha] [date] NOT NULL,
 CONSTRAINT [PK_CertificadoAdopcion] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC,
	[codigoAnimal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DigitoVerificador] Fecha de script: 11/07/2026 4:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificador](
	[nombreTabla] [varchar](100) NOT NULL,
	[horizontal] [varchar](max) NULL,
	[vertical] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[nombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FichaDeIngreso] Fecha de script: 11/07/2026 4:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FichaDeIngreso](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[codigoAnimal] [int] NOT NULL,
	[dni] [nvarchar](50) NOT NULL,
	[especie] [nvarchar](50) NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[razon] [nvarchar](50) NOT NULL,
	[zona] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FichaDeIngreso] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FichaMedica] Fecha de script: 11/07/2026 4:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FichaMedica](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[codigoAnimal] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[castrado] [bit] NOT NULL,
	[dieta] [nvarchar](50) NULL,
	[medicamento] [nvarchar](50) NULL,
	[observaciones] [nvarchar](50) NULL,
 CONSTRAINT [PK_FichaMedica] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[IntermediaVacunaAnimal] Fecha de script: 11/07/2026 4:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntermediaVacunaAnimal](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[codigoVacuna] [nvarchar](50) NOT NULL,
	[codigoAnimal] [int] NOT NULL,
	[nombreVacuna] [nvarchar](50) NOT NULL,
	[fechaAplicacion] [date] NOT NULL,
	[fechaProximaAplicacion] [date] NOT NULL,
 CONSTRAINT [PK_IntermediaVacunaAnimal] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC,
	[codigoVacuna] ASC,
	[codigoAnimal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 11/07/2026 4:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[dni] [nvarchar](50) NOT NULL,
	[nombreUsuario] [nvarchar](100) NOT NULL,
	[contraseña] [nvarchar](200) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[rol] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[bloqueo] [bit] NOT NULL,
	[intentos] [int] NOT NULL,
	[lenguaje] [nvarchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
	[domicilio] [nvarchar](500) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Vacuna] Fecha de script: 11/07/2026 4:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacuna](
	[codigoVacuna] [nvarchar](50) NOT NULL,
	[nombreVacuna] [nvarchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Vacuna_1] PRIMARY KEY CLUSTERED 
(
	[codigoVacuna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Animal] ([codigoAnimal], [especie], [raza], [nombre], [tamaño], [sexo], [estadoAdopcion], [vivo]) VALUES (1, N'perro', N'maltez', N'Pablo', N'Pequeño', N'masculino', N'en adopcion', 1)
GO
SET IDENTITY_INSERT [dbo].[AuditoriaTablas] ON 

INSERT [dbo].[AuditoriaTablas] ([id], [nombreTabla], [operacion], [registroId], [fecha]) VALUES (5, N'Usuario', N'UPDATE', N'45748941', CAST(N'2026-06-22T12:18:08.720' AS DateTime))
INSERT [dbo].[AuditoriaTablas] ([id], [nombreTabla], [operacion], [registroId], [fecha]) VALUES (6, N'Usuario', N'UPDATE', N'44625142', CAST(N'2026-06-22T12:18:29.337' AS DateTime))
INSERT [dbo].[AuditoriaTablas] ([id], [nombreTabla], [operacion], [registroId], [fecha]) VALUES (7, N'Usuario', N'UPDATE', N'45748941', CAST(N'2026-06-22T12:20:36.980' AS DateTime))
SET IDENTITY_INSERT [dbo].[AuditoriaTablas] OFF
GO
INSERT [dbo].[BitacoraEventos] ([codigo], [login], [fecha], [hora], [modulo], [evento], [criticidad]) VALUES (N'0206260001', N'laraP', CAST(N'2026-06-02' AS Date), CAST(N'19:22:47.5510159' AS Time), N'Restore', N'Restore Realizado', 1)
INSERT [dbo].[BitacoraEventos] ([codigo], [login], [fecha], [hora], [modulo], [evento], [criticidad]) VALUES (N'0206260002', N'laraP', CAST(N'2026-06-02' AS Date), CAST(N'19:32:26.0741946' AS Time), N'Usuario', N'Inicio de sesión de usuario', 1)
INSERT [dbo].[BitacoraEventos] ([codigo], [login], [fecha], [hora], [modulo], [evento], [criticidad]) VALUES (N'0206260003', N'laraP', CAST(N'2026-06-02' AS Date), CAST(N'19:32:36.0506667' AS Time), N'Backup', N'Backup realizado', 1)
GO
INSERT [dbo].[DigitoVerificador] ([nombreTabla], [horizontal], [vertical]) VALUES (N'Animal', N'6c59fca4be83a298065fd17456a0e79c45af3a5a9edb95aa6b295951223d8b84', N'd256853509b195e388d2eab0e4e6e4cc4fb89ec3e6491aa8def89bff0abf27ee')
INSERT [dbo].[DigitoVerificador] ([nombreTabla], [horizontal], [vertical]) VALUES (N'Intermedia vacuna-animal', N'0eb0f4a03ffc42c89538a5e86727444d5dbf803c28ecb9087ffe9d5a9bd2535f', N'0eb0f4a03ffc42c89538a5e86727444d5dbf803c28ecb9087ffe9d5a9bd2535f')
INSERT [dbo].[DigitoVerificador] ([nombreTabla], [horizontal], [vertical]) VALUES (N'Usuario', N'b71862cc38d22994a617c335c2c04117de945442feb76a203f2d12743f6f2317', N'2f760791e4b8df8e327a9f54e96c55c705972811c51f90a882cda7a1e97b8837')
GO
SET IDENTITY_INSERT [dbo].[IntermediaVacunaAnimal] ON 

INSERT [dbo].[IntermediaVacunaAnimal] ([codigo], [codigoVacuna], [codigoAnimal], [nombreVacuna], [fechaAplicacion], [fechaProximaAplicacion]) VALUES (4, N'UHDBED1', 1, N'Antitetanica', CAST(N'2026-04-30' AS Date), CAST(N'2027-04-13' AS Date))
SET IDENTITY_INSERT [dbo].[IntermediaVacunaAnimal] OFF
GO
INSERT [dbo].[Usuario] ([dni], [nombreUsuario], [contraseña], [nombre], [apellido], [rol], [email], [bloqueo], [intentos], [lenguaje], [activo], [domicilio]) VALUES (N'12345678', N'pepe', N'58f48cf717d195bd1187e1fb4510846696cae35f00ad0e0eea86feb3744f37cc', N'Pedro', N'Gaga', N'admin', N'pepe@gmail.com', 0, 0, N'esp', 1, NULL)
INSERT [dbo].[Usuario] ([dni], [nombreUsuario], [contraseña], [nombre], [apellido], [rol], [email], [bloqueo], [intentos], [lenguaje], [activo], [domicilio]) VALUES (N'44625142', N'agosP', N'58f48cf717d195bd1187e1fb4510846696cae35f00ad0e0eea86feb3744f37cc', N'Agostina', N'Palermo', N'web master', N'agos.palermo@gmail.com', 0, 0, N'esp', 1, NULL)
INSERT [dbo].[Usuario] ([dni], [nombreUsuario], [contraseña], [nombre], [apellido], [rol], [email], [bloqueo], [intentos], [lenguaje], [activo], [domicilio]) VALUES (N'45748941', N'laraP', N'58f48cf717d195bd1187e1fb4510846696cae35f00ad0e0eea86feb3744f37cc', N'Lara', N'Palermo', N'admin', N'palermo.lara22@gmail.com', 0, 0, N'esp', 1, NULL)
GO
INSERT [dbo].[Vacuna] ([codigoVacuna], [nombreVacuna], [activo]) VALUES (N'ASDASD1', N'Antirabica', 0)
INSERT [dbo].[Vacuna] ([codigoVacuna], [nombreVacuna], [activo]) VALUES (N'UHDBED1', N'Antitetanica', 1)
GO
ALTER TABLE [dbo].[AuditoriaTablas] ADD  DEFAULT (getdate()) FOR [fecha]
GO
USE [master]
GO
