﻿USE [master]
GO
/****** Object:  Database [dawRefugio]    Script Date: 27/8/2026 19:30:34 ******/
CREATE DATABASE [dawRefugio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dawRefugio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dawRefugio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dawRefugio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dawRefugio_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dawRefugio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dawRefugio]
GO
/****** Object:  Table [dbo].[Adoptante]    Script Date: 27/8/2026 19:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adoptante](
	[dni] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[telefono] [nvarchar](50) NOT NULL,
	[edad] [int] NOT NULL,
	[domicilio] [nvarchar](50) NOT NULL,
	[mascotas] [bit] NOT NULL,
	[activo] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animal]    Script Date: 27/8/2026 19:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animal](
	[codigoAnimal] [int] NOT NULL,
	[especie] [nvarchar](50) NOT NULL,
	[raza] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[tamaño] [nvarchar](50) NOT NULL,
	[sexo] [nvarchar](50) NOT NULL,
	[estadoAdopcion] [nvarchar](50) NOT NULL,
	[vivo] [bit] NOT NULL,
 CONSTRAINT [PK_Animal] PRIMARY KEY CLUSTERED 
(
	[codigoAnimal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditoriaTablas]    Script Date: 27/8/2026 19:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaTablas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreTabla] [nvarchar](50) NULL,
	[operacion] [nvarchar](10) NULL,
	[registroId] [nvarchar](50) NULL,
	[fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BitacoraEventos]    Script Date: 27/8/2026 19:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraEventos](
	[codigo] [nvarchar](50) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[modulo] [nvarchar](50) NOT NULL,
	[evento] [nvarchar](50) NOT NULL,
	[criticidad] [int] NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CertificadoAdopcion]    Script Date: 27/8/2026 19:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertificadoAdopcion](
	[codigo] [varchar](20) NOT NULL,
	[dni] [nvarchar](50) NOT NULL,
	[codigoAnimal] [int] NOT NULL,
	[especie] [varchar](50) NOT NULL,
	[raza] [varchar](50) NOT NULL,
	[nombreAnimal] [varchar](100) NOT NULL,
	[nombreAdoptante] [varchar](100) NOT NULL,
	[apellidoAdoptante] [varchar](100) NOT NULL,
	[fecha] [date] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitoVerificador]    Script Date: 27/8/2026 19:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificador](
	[nombreTabla] [varchar](100) NOT NULL,
	[horizontal] [varchar](max) NULL,
	[vertical] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[nombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FichaDeIngreso]    Script Date: 27/8/2026 19:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FichaDeIngreso](
	[codigoFicha] [int] NOT NULL,
	[codigoAnimal] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigoFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FichaMedica]    Script Date: 27/8/2026 19:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FichaMedica](
	[codigo] [int] NOT NULL,
	[codigoAnimal] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[castrado] [bit] NOT NULL,
	[dieta] [varchar](255) NULL,
	[medicamento] [varchar](255) NULL,
	[observaciones] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialIngreso]    Script Date: 27/8/2026 19:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialIngreso](
	[codigoHistorial] [int] NOT NULL,
	[codigoFicha] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[motivo] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigoHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IntermediaVacunaAnimal]    Script Date: 27/8/2026 19:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntermediaVacunaAnimal](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[codigoVacuna] [nvarchar](50) NOT NULL,
	[codigoAnimal] [int] NOT NULL,
	[nombreVacuna] [nvarchar](50) NOT NULL,
	[fechaAplicacion] [date] NOT NULL,
	[fechaProximaAplicacion] [date] NOT NULL,
 CONSTRAINT [PK_IntermediaVacunaAnimal] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC,
	[codigoVacuna] ASC,
	[codigoAnimal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 30/8/2026 19:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Clave] [nvarchar](100) NOT NULL,
	[Tipo] [char](1) NOT NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso_Detalle]    Script Date: 30/8/2026 19:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso_Detalle](
	[ID_PermisoPadre] [int] NOT NULL,
	[ID_PermisoHijo] [int] NOT NULL,
 CONSTRAINT [PK_Permiso_Detalle] PRIMARY KEY CLUSTERED 
(
	[ID_PermisoPadre] ASC,
	[ID_PermisoHijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 30/8/2026 19:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol_Permiso]    Script Date: 30/8/2026 19:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_Permiso](
	[ID_Rol] [int] NOT NULL,
	[ID_Permiso] [int] NOT NULL,
 CONSTRAINT [PK_Rol_Permiso] PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC,
	[ID_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/8/2026 19:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[dni] [nvarchar](50) NOT NULL,
	[nombreUsuario] [nvarchar](100) NOT NULL,
	[contraseña] [nvarchar](200) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[rol] [int] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[bloqueo] [bit] NOT NULL,
	[intentos] [int] NOT NULL,
	[lenguaje] [nvarchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
	[domicilio] [nvarchar](500) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacuna]    Script Date: 27/8/2026 19:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacuna](
	[codigoVacuna] [nvarchar](50) NOT NULL,
	[nombreVacuna] [nvarchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Vacuna_1] PRIMARY KEY CLUSTERED 
(
	[codigoVacuna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Adoptante] ([dni], [nombre], [apellido], [telefono], [edad], [domicilio], [mascotas], [activo]) VALUES (N'45748941', N'Pablo', N'Palermo', N'1123234543', 34, N'Capital', 1, 1)
GO
INSERT [dbo].[Animal] ([codigoAnimal], [especie], [raza], [nombre], [tamaño], [sexo], [estadoAdopcion], [vivo]) VALUES (40733, N'Perro', N'Maltez', N'Nieve', N'Pequeño', N'Hembra', N'En Adopcion', 1)
GO
INSERT [dbo].[BitacoraEventos] ([codigo], [login], [fecha], [hora], [modulo], [evento], [criticidad]) VALUES (N'0206260001', N'laraP', CAST(N'2026-06-02' AS Date), CAST(N'19:22:47.5510159' AS Time), N'Restore', N'Restore Realizado', 1)
INSERT [dbo].[BitacoraEventos] ([codigo], [login], [fecha], [hora], [modulo], [evento], [criticidad]) VALUES (N'0206260002', N'laraP', CAST(N'2026-06-02' AS Date), CAST(N'19:32:26.0741946' AS Time), N'Usuario', N'Inicio de sesión de usuario', 1)
INSERT [dbo].[BitacoraEventos] ([codigo], [login], [fecha], [hora], [modulo], [evento], [criticidad]) VALUES (N'0206260003', N'laraP', CAST(N'2026-06-02' AS Date), CAST(N'19:32:36.0506667' AS Time), N'Backup', N'Backup realizado', 1)
GO
INSERT [dbo].[CertificadoAdopcion] ([codigo], [dni], [codigoAnimal], [especie], [raza], [nombreAnimal], [nombreAdoptante], [apellidoAdoptante], [fecha], [activo]) VALUES (N'CERT-36640', N'45748941', 40733, N'Perro', N'Maltez', N'Nieve', N'Pablo', N'Palermo', CAST(N'2026-08-27' AS Date), 0)
GO
INSERT [dbo].[DigitoVerificador] ([nombreTabla], [horizontal], [vertical]) VALUES (N'Adoptante', N'c67adfd298ed8520b346a3eb78a717e90b3c9bf09a0423c93592b67f3f51a1f4', N'c67adfd298ed8520b346a3eb78a717e90b3c9bf09a0423c93592b67f3f51a1f4')
INSERT [dbo].[DigitoVerificador] ([nombreTabla], [horizontal], [vertical]) VALUES (N'Animal', N'2ac0b2750779d4a5dcbb775ebdb5b9bd580f34d41480f5ae36f2aa15ca93e0a4', N'2d0d82238f63ddcfca23193c554521522e78050c8524f87d4378ea17e106ad3d')
INSERT [dbo].[DigitoVerificador] ([nombreTabla], [horizontal], [vertical]) VALUES (N'CertificadoAdopcion', N'04257e9d77b4e75836c5f1ddbb5398ad89423424f63ad1e4d45dad5408d3699e', N'04257e9d77b4e75836c5f1ddbb5398ad89423424f63ad1e4d45dad5408d3699e')
GO
INSERT [dbo].[FichaDeIngreso] ([codigoFicha], [codigoAnimal], [fecha]) VALUES (84517, 40733, CAST(N'2026-08-26T13:46:06.497' AS DateTime))
GO
INSERT [dbo].[FichaMedica] ([codigo], [codigoAnimal], [fecha], [castrado], [dieta], [medicamento], [observaciones]) VALUES (74450, 40733, CAST(N'2026-08-27T14:42:36.087' AS DateTime), 1, N'Urinary', N'-', N'')
INSERT [dbo].[FichaMedica] ([codigo], [codigoAnimal], [fecha], [castrado], [dieta], [medicamento], [observaciones]) VALUES (97105, 40733, CAST(N'2026-08-27T14:42:24.407' AS DateTime), 0, N'Urinary', N'-', N'Muy bien de peso ')
GO
INSERT [dbo].[HistorialIngreso] ([codigoHistorial], [codigoFicha], [fecha], [motivo]) VALUES (64909, 84517, CAST(N'2026-08-27T18:31:07.537' AS DateTime), N'Devolución de adopción')
INSERT [dbo].[HistorialIngreso] ([codigoHistorial], [codigoFicha], [fecha], [motivo]) VALUES (84517, 84517, CAST(N'2026-08-27T13:46:06.513' AS DateTime), N'Se la encontró en la calle')
GO
SET IDENTITY_INSERT [dbo].[IntermediaVacunaAnimal] ON 

INSERT [dbo].[IntermediaVacunaAnimal] ([codigo], [codigoVacuna], [codigoAnimal], [nombreVacuna], [fechaAplicacion], [fechaProximaAplicacion]) VALUES (4, N'UHDBED1', 1, N'Antitetanica', CAST(N'2026-04-30' AS Date), CAST(N'2027-04-13' AS Date))
SET IDENTITY_INSERT [dbo].[IntermediaVacunaAnimal] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([ID], [Nombre], [Clave], [Tipo]) VALUES (1, N'Crear Adoptante', N'ADOPTANTE_ALTA', N'S')
INSERT [dbo].[Permiso] ([ID], [Nombre], [Clave], [Tipo]) VALUES (2, N'Modificar Adoptante', N'ADOPTANTE_MODIFICAR', N'S')
INSERT [dbo].[Permiso] ([ID], [Nombre], [Clave], [Tipo]) VALUES (3, N'Activar/Desactivar Adoptante', N'ADOPTANTE_ACT_DESAC', N'S')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
INSERT [dbo].[Permiso_Detalle] ([ID_PermisoPadre], [ID_PermisoHijo]) VALUES (36, 16)
INSERT [dbo].[Permiso_Detalle] ([ID_PermisoPadre], [ID_PermisoHijo]) VALUES (36, 18)
INSERT [dbo].[Permiso_Detalle] ([ID_PermisoPadre], [ID_PermisoHijo]) VALUES (36, 19)
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([ID], [Nombre]) VALUES (5, N'Admin Usuarios')
INSERT [dbo].[Rol] ([ID], [Nombre]) VALUES (2, N'AdminSuper')
INSERT [dbo].[Rol] ([ID], [Nombre]) VALUES (3, N'Normal')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
INSERT [dbo].[Rol_Permiso] ([ID_Rol], [ID_Permiso]) VALUES (1, 4)
INSERT [dbo].[Rol_Permiso] ([ID_Rol], [ID_Permiso]) VALUES (1, 5)
INSERT [dbo].[Rol_Permiso] ([ID_Rol], [ID_Permiso]) VALUES (1, 6)
GO
INSERT [dbo].[Usuario] ([dni], [nombreUsuario], [contraseña], [nombre], [apellido], [rol], [email], [bloqueo], [intentos], [lenguaje], [activo], [domicilio]) VALUES (N'12345678', N'pepe', N'58f48cf717d195bd1187e1fb4510846696cae35f00ad0e0eea86feb3744f37cc', N'Pablo', N'Perez', 3, N'jsdklaspepe@gmail.com', 0, 0, N'ing', 1, NULL)
INSERT [dbo].[Usuario] ([dni], [nombreUsuario], [contraseña], [nombre], [apellido], [rol], [email], [bloqueo], [intentos], [lenguaje], [activo], [domicilio]) VALUES (N'44625142', N'agosP', N'58f48cf717d195bd1187e1fb4510846696cae35f00ad0e0eea86feb3744f37cc', N'Agostina', N'Palermo', 1, N'agos.palermo@gmail.com', 0, 0, N'esp', 1, NULL)
INSERT [dbo].[Usuario] ([dni], [nombreUsuario], [contraseña], [nombre], [apellido], [rol], [email], [bloqueo], [intentos], [lenguaje], [activo], [domicilio]) VALUES (N'45748941', N'laraP', N'58f48cf717d195bd1187e1fb4510846696cae35f00ad0e0eea86feb3744f37cc', N'Lara', N'Palermo', 2, N'palermo.lara22@gmail.com', 0, 0, N'esp', 1, NULL)
GO
INSERT [dbo].[Vacuna] ([codigoVacuna], [nombreVacuna], [activo]) VALUES (N'ASDASD1', N'Antirabica', 1)
INSERT [dbo].[Vacuna] ([codigoVacuna], [nombreVacuna], [activo]) VALUES (N'UHDBED1', N'Antitetanica', 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Adoptante_DNI]    Script Date: 27/8/2026 19:30:35 ******/
ALTER TABLE [dbo].[Adoptante] ADD  CONSTRAINT [UQ_Adoptante_DNI] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__FichaDeI__EE528A647F6DD2BC]    Script Date: 27/8/2026 19:30:35 ******/
ALTER TABLE [dbo].[FichaDeIngreso] ADD UNIQUE NONCLUSTERED 
(
	[codigoAnimal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditoriaTablas] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[CertificadoAdopcion] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CertificadoAdopcion]  WITH CHECK ADD FOREIGN KEY([codigoAnimal])
REFERENCES [dbo].[Animal] ([codigoAnimal])
GO
ALTER TABLE [dbo].[CertificadoAdopcion]  WITH CHECK ADD FOREIGN KEY([dni])
REFERENCES [dbo].[Adoptante] ([dni])
GO
ALTER TABLE [dbo].[FichaDeIngreso]  WITH CHECK ADD FOREIGN KEY([codigoAnimal])
REFERENCES [dbo].[Animal] ([codigoAnimal])
GO
ALTER TABLE [dbo].[FichaMedica]  WITH CHECK ADD FOREIGN KEY([codigoAnimal])
REFERENCES [dbo].[Animal] ([codigoAnimal])
GO
ALTER TABLE [dbo].[HistorialIngreso]  WITH CHECK ADD FOREIGN KEY([codigoFicha])
REFERENCES [dbo].[FichaDeIngreso] ([codigoFicha])
GO
/****** Object:  Trigger [dbo].[trg_Adoptante]    Script Date: 27/8/2026 19:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Adoptante]
ON [dbo].[Adoptante]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted)
    BEGIN
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'Adoptante', 'UPDATE', i.dni
        FROM inserted i
        INNER JOIN deleted d ON i.dni = d.dni
        WHERE
            i.nombre != d.nombre OR
            i.apellido != d.apellido OR
            i.telefono != d.telefono OR
            i.edad != d.edad OR
            i.domicilio != d.domicilio OR
            i.mascotas != d.mascotas OR
            i.activo != d.activo
    END
    ELSE IF EXISTS (SELECT * FROM inserted)
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'Adoptante', 'INSERT', dni FROM inserted
    ELSE
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'Adoptante', 'DELETE', dni FROM deleted
END
GO
ALTER TABLE [dbo].[Adoptante] ENABLE TRIGGER [trg_Adoptante]
GO
/****** Object:  Trigger [dbo].[trg_Animal]    Script Date: 27/8/2026 19:30:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Animal]
ON [dbo].[Animal]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted)
    BEGIN
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'Animal', 'UPDATE', i.codigoAnimal
        FROM inserted i
        INNER JOIN deleted d ON i.codigoAnimal = d.codigoAnimal
        WHERE
            i.especie != d.especie OR
            i.raza != d.raza OR
            i.nombre != d.nombre OR
            i.tamaño != d.tamaño OR
            i.sexo != d.sexo OR
            i.estadoAdopcion != d.estadoAdopcion OR
            i.vivo != d.vivo
    END
    ELSE IF EXISTS (SELECT * FROM inserted)
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'Animal', 'INSERT', codigoAnimal FROM inserted
    ELSE
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'Animal', 'DELETE', codigoAnimal FROM deleted
END
GO
ALTER TABLE [dbo].[Animal] ENABLE TRIGGER [trg_Animal]
GO
/****** Object:  Trigger [dbo].[trg_CertificadoAdopcion]    Script Date: 27/8/2026 19:30:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_CertificadoAdopcion]
ON [dbo].[CertificadoAdopcion]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted)
    BEGIN
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'CertificadoAdopcion', 'UPDATE', i.codigo
        FROM inserted i
        INNER JOIN deleted d ON i.codigo = d.codigo
        WHERE
            i.dni != d.dni OR
            i.codigoAnimal != d.codigoAnimal OR
            i.especie != d.especie OR
            i.raza != d.raza OR
            i.nombreAnimal != d.nombreAnimal OR
            i.nombreAdoptante != d.nombreAdoptante OR
            i.apellidoAdoptante != d.apellidoAdoptante OR
            i.fecha != d.fecha OR
            i.activo != d.activo
    END
    ELSE IF EXISTS (SELECT * FROM inserted)
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'CertificadoAdopcion', 'INSERT', codigo FROM inserted
    ELSE
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'CertificadoAdopcion', 'DELETE', codigo FROM deleted
END
GO
ALTER TABLE [dbo].[CertificadoAdopcion] ENABLE TRIGGER [trg_CertificadoAdopcion]
GO
/****** Object:  Trigger [dbo].[trg_FichaDeIngreso]    Script Date: 27/8/2026 19:30:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_FichaDeIngreso]
ON [dbo].[FichaDeIngreso]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted)
    BEGIN
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'FichaDeIngreso', 'UPDATE', i.codigoFicha
        FROM inserted i
        INNER JOIN deleted d ON i.codigoFicha = d.codigoFicha
        WHERE
            i.codigoAnimal != d.codigoAnimal OR
            i.fecha != d.fecha
    END
    ELSE IF EXISTS (SELECT * FROM inserted)
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'FichaDeIngreso', 'INSERT', codigoFicha FROM inserted
    ELSE
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'FichaDeIngreso', 'DELETE', codigoFicha FROM deleted
END
GO
ALTER TABLE [dbo].[FichaDeIngreso] ENABLE TRIGGER [trg_FichaDeIngreso]
GO
/****** Object:  Trigger [dbo].[trg_FichaMedica]    Script Date: 27/8/2026 19:30:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_FichaMedica]
ON [dbo].[FichaMedica]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted)
    BEGIN
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'FichaMedica', 'UPDATE', i.codigo
        FROM inserted i
        INNER JOIN deleted d ON i.codigo = d.codigo
        WHERE
            i.codigoAnimal != d.codigoAnimal OR
            i.fecha != d.fecha OR
            i.castrado != d.castrado OR
            ISNULL(i.dieta, '') != ISNULL(d.dieta, '') OR
            ISNULL(i.medicamento, '') != ISNULL(d.medicamento, '') OR
            ISNULL(i.observaciones, '') != ISNULL(d.observaciones, '')
    END
    ELSE IF EXISTS (SELECT * FROM inserted)
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'FichaMedica', 'INSERT', codigo FROM inserted
    ELSE
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'FichaMedica', 'DELETE', codigo FROM deleted
END
GO
ALTER TABLE [dbo].[FichaMedica] ENABLE TRIGGER [trg_FichaMedica]
GO
/****** Object:  Trigger [dbo].[trg_HistorialIngreso]    Script Date: 27/8/2026 19:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_HistorialIngreso]
ON [dbo].[HistorialIngreso]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted)
    BEGIN
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'HistorialIngreso', 'UPDATE', i.codigoHistorial
        FROM inserted i
        INNER JOIN deleted d ON i.codigoHistorial = d.codigoHistorial
        WHERE
            i.codigoFicha != d.codigoFicha OR
            i.fecha != d.fecha OR
            i.motivo != d.motivo
    END
    ELSE IF EXISTS (SELECT * FROM inserted)
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'HistorialIngreso', 'INSERT', codigoHistorial FROM inserted
    ELSE
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'HistorialIngreso', 'DELETE', codigoHistorial FROM deleted
END
GO
ALTER TABLE [dbo].[HistorialIngreso] ENABLE TRIGGER [trg_HistorialIngreso]
GO
/****** Object:  Trigger [dbo].[trg_IntermediaVacunaAnimal]    Script Date: 27/8/2026 19:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_IntermediaVacunaAnimal]
ON [dbo].[IntermediaVacunaAnimal]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted)
    BEGIN
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'Intermedia vacuna-animal', 'UPDATE', i.codigo
        FROM inserted i
        INNER JOIN deleted d ON i.codigo = d.codigo
        WHERE
            i.codigoVacuna != d.codigoVacuna OR
            i.codigoAnimal != d.codigoAnimal OR
            i.nombreVacuna != d.nombreVacuna OR
            i.fechaAplicacion != d.fechaAplicacion OR
            i.fechaProximaAplicacion != d.fechaProximaAplicacion
    END
    ELSE IF EXISTS (SELECT * FROM inserted)
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'Intermedia vacuna-animal', 'INSERT', codigo FROM inserted
    ELSE
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'Intermedia vacuna-animal', 'DELETE', codigo FROM deleted
END
GO
ALTER TABLE [dbo].[IntermediaVacunaAnimal] ENABLE TRIGGER [trg_IntermediaVacunaAnimal]
GO
/****** Object:  Trigger [dbo].[trg_Usuario]    Script Date: 27/8/2026 19:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Usuario]
ON [dbo].[Usuario]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted)
    BEGIN
        -- Solo inserta si algo realmente cambió
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'Usuario', 'UPDATE', i.dni
        FROM inserted i
        INNER JOIN deleted d ON i.dni = d.dni
        WHERE 
            i.nombre != d.nombre OR
            i.apellido != d.apellido OR
            i.contraseña != d.contraseña OR
            i.rol != d.rol OR
            i.email != d.email OR
            i.bloqueo != d.bloqueo OR
            i.intentos != d.intentos OR
            i.activo != d.activo OR
            i.domicilio != d.domicilio
    END
    ELSE IF EXISTS (SELECT * FROM inserted)
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'Usuario', 'INSERT', dni FROM inserted
    ELSE
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'Usuario', 'DELETE', dni FROM deleted
END
GO
ALTER TABLE [dbo].[Usuario] ENABLE TRIGGER [trg_Usuario]
GO
/****** Object:  Trigger [dbo].[trg_Vacuna]    Script Date: 27/8/2026 19:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Vacuna]
ON [dbo].[Vacuna]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted)
    BEGIN
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'Vacuna', 'UPDATE', i.codigoVacuna
        FROM inserted i
        INNER JOIN deleted d ON i.codigoVacuna = d.codigoVacuna
        WHERE
            i.nombreVacuna != d.nombreVacuna OR
            i.activo != d.activo
    END
    ELSE IF EXISTS (SELECT * FROM inserted)
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'Vacuna', 'INSERT', codigoVacuna FROM inserted
    ELSE
        INSERT INTO AuditoriaTablas (nombreTabla, operacion, registroId)
        SELECT 'Vacuna', 'DELETE', codigoVacuna FROM deleted
END
GO
ALTER TABLE [dbo].[Vacuna] ENABLE TRIGGER [trg_Vacuna]
GO
USE [master]
GO

ALTER TABLE [dbo].[Rol] ADD  CONSTRAINT [UQ_Rol_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Permiso_Detalle]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_Detalle_Hijo] FOREIGN KEY([ID_PermisoHijo])
REFERENCES [dbo].[Permiso] ([ID])
GO
ALTER TABLE [dbo].[Permiso_Detalle] CHECK CONSTRAINT [FK_Permiso_Detalle_Hijo]
GO
ALTER TABLE [dbo].[Permiso_Detalle]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_Detalle_Padre] FOREIGN KEY([ID_PermisoPadre])
REFERENCES [dbo].[Permiso] ([ID])
GO
ALTER TABLE [dbo].[Permiso_Detalle] CHECK CONSTRAINT [FK_Permiso_Detalle_Padre]
GO
ALTER TABLE [dbo].[Rol_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Rol_Permiso_Permiso] FOREIGN KEY([ID_Permiso])
REFERENCES [dbo].[Permiso] ([ID])
GO
ALTER TABLE [dbo].[Rol_Permiso] CHECK CONSTRAINT [FK_Rol_Permiso_Permiso]
GO
ALTER TABLE [dbo].[Rol_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Rol_Permiso_Rol] FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Rol] ([ID])
GO
ALTER TABLE [dbo].[Rol_Permiso] CHECK CONSTRAINT [FK_Rol_Permiso_Rol]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol_Nuevo] FOREIGN KEY([rol])
REFERENCES [dbo].[Rol] ([ID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol_Nuevo]
GO
ALTER TABLE [dbo].[Permiso]  WITH CHECK ADD  CONSTRAINT [CK_Permiso_Tipo] CHECK  (([Tipo]='C' OR [Tipo]='S'))
GO
ALTER TABLE [dbo].[Permiso] CHECK CONSTRAINT [CK_Permiso_Tipo]
GO
ALTER TABLE [dbo].[Permiso_Detalle]  WITH CHECK ADD  CONSTRAINT [CK_Permiso_Detalle_NoMismoPermiso] CHECK  (([ID_PermisoPadre]<>[ID_PermisoHijo]))
GO
ALTER TABLE [dbo].[Permiso_Detalle] CHECK CONSTRAINT [CK_Permiso_Detalle_NoMismoPermiso]
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Indice unico FILTRADO: la unicidad de Clave aplica solo a permisos simples (Tipo S). 
       Las familias (Tipo C) comparten el placeholder de Clave sin romper. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Permiso_Clave_Simple] ON [dbo].[Permiso]
(
	[Clave] ASC
)
WHERE ([Tipo]=('S'))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO